body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif
}

h1, h2, h3, h4, h5 {
    font-family: Helvetica, sans-serif;
    color: black;
}

.header {
    width: 100vw;
    height: 98vh;
    background-image: url("https://www.apple.com/v/home/ae/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_large.jpg");
    background-position: center ;
    background-size: initial;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fbfbfd;
}

#main-title{
    margin-top : 1em;
    font-size : 4em;
    margin-bottom: 20;
}

#subtitle {
    margin: -16px;
    font-size: 30;
    text-align: center;
    width: 17em;
    font-weight: 200;
}
#available {
    margin-top: 21px;
    font-size: 1em;
    text-align: center;
    width: 17em;
    color: grey;
}

a {
    color: blue;
}

a:hover {
    text-decoration: underline;
}

a{
    cursor: pointer
}

a {
    margin: 0 2em;
}

a::after{
    content: " >";
}
